.bambora_paymentlogos {
    margin-left: 6px;
}

.bambora_paymentlogos img {
    max-height: 40px;
    height: 100%;
}

.bambora-compleated-container #bambora_completed_payment {
    font-size: 18px;
    color: #000;
    display: inline-block;
}

.bambora-compleated-container .icon-check {
    color: #45beaa;
    font-size: 50px;
    display: inline-block;
}

.payment_module .bamboracheckout {
    background: url("../img/bambora.svg");
    background-repeat: no-repeat;
    background-position: 15px 27px;
    background-color: #fbfbfb;
    padding-left: 150px;
    background-size: 120px;
}

/*media all*/
.payment_module .bamboracheckout::after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

.bambora_section_container {
    margin-bottom: 10px;
}

.bambora_section_text {
    margin-bottom: 5px;
}