
.bambora_logo {
    width: 75%;
    max-width: 300px;
}

.bambora-buttons {
    background-color: #FCFDFE;
    border: 1px solid #e1ebf5;
    border-radius: 4px;
    padding: 4px;
}

.bambora-transaction-log {
    margin-top: 40px;
}

.bambora-table {
    width: 100%;
} 

    .bambora-table th {
        padding: 0 24px 2px 0;
        font-weight: bold;
    }

    .bambora-table td {
        white-space: nowrap;
         width: 50%;
    padding: 6px 24px 6px 0;
    border-bottom: solid 1px #eee;
    }

.bambora-td-head {
    width: 50%;
    padding: 6px 24px 2px 0;
    font-weight: normal;
    color: silver;
}


bambora-badge-critical {
    background-color: #E08F95;
}

.bambora-badge-big {
    font-size: 12px !important;
    padding: 0 7px 0 7px !important;
}

.bambora-col {
    float: left;
    width: 45%;
    margin-right: 30px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}


.bambora_floatLeft {
    float: left;
    margin-right: 15px;
}

.bambora_show {
    opacity: 1;
    display: block;
    -webkit-transition: 1000ms cubic-bezier(0,0,0.58,1);
    transition: 1000ms cubic-bezier(0,0,0.58,1);
}

.bambora_hidden {
    opacity: 0;
    display: none;
}

#bambora_capture {
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

#bambora_confirmAction {
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

#bambora_acceptbtn {
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;
}

.bamboraButtonFrame {
    background-color: #E1EBF5;
    padding: 4px;
    height: 40px;
    vertical-align: top;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 3px;
    width: 172px;
    line-height: 29px;
    margin-left: 0 !important;
}

.bambora-normalSize {
    padding-right: 10px;
}

.bamboraButtonFrame span {
    padding-left: 20px;
}

.bamboraButtonFrameIncreesedsize {
    width: 280px !important;
}

    .bamboraButtonFrameIncreesedsize div input {
        text-align: right;
        font-weight: normal;
        width: 80px !important;
        float: right;
    }

        .bamboraButtonFrameIncreesedsize div input[type='text'] {
            background-color: white;
            display: inline-block;
            width: 90px;
            vertical-align: bottom;
            float: left;
        }

    .bamboraButtonFrameIncreesedsize div p {
        display: inline-block;
        padding: 2px;
    }

    .bamboraButtonFrameIncreesedsize div {
        text-align: left;
        font-weight: normal;
        vertical-align: bottom;
    }

.bambora_confirm_btn {
    width: 80px;
    background-color: #72C279;
    color: #FCFDFE;
}

.bambora_credit_btn {
    background-color: #D9BA73;
    color: #FCFDFE;
    width: 80px;
}

.bambora_delete_btn {
    background-color: #E08F95;
    color: #FCFDFE;
    width: 80px;
}

.bambora_confirm_frame {
    width: 90px;
    vertical-align: middle;
    padding: 4px;
}

.bambora_cancelLink {
    text-decoration: underline;
}


.bambora_paymentCardLogo {
    height: 20px;
    vertical-align: middle;
}

.bambora_widthAllSpace {
    width: 100%;
    clear: both;
}

.bambora_displayInline {
    display: inline;
}

.helpContainer h5 {
    font-weight: bold;
}

.bambora-paddingButtom {
    padding-bottom: 5px;
}



.bambora-spinner body {
    background-color: gray;
}


@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        /*transform: rotate(0deg);
      -ms-transform:rotate(-90deg)*/
    }

    to {
        -webkit-transform: rotate(360deg);
        /*transform: rotate(360deg);
    -ms-transform:rotate(0deg)*/
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


div.bambora-spinner {
    background-color: silver;
    border-radius: 30px;
    padding: 8px;
    width: 30px;
    height: 30px;
    line-height: 0px;
}

    div.bambora-spinner img {
        width: 100%;
        height: 100%;
        -moz-animation-name: rotate;
        -o-animation-name: rotate;
        -webkit-animation-name: rotate;
        animation-name: rotate;
        -moz-animation-duration: 2s;
        -o-animation-duration: 2s;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }

a.bambora_cancel {
    background: #e0e0e0 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAAXNSR0IArs4c6QAAAfJJREFUOBGVlT1LA0EQhnfvjEGJiIJgZW8nKH5ErYR0FqksIgiW10gUjf4BSRTTKhZik0KstRGtjMZUNhaaXxFFIkhY5z0yx5rsXTYLx87Ozjw3O7MfQmgtt5Wb0IY9iZ7nJbLZ7Cg7OSzs7RxsiJhb293eX2OdbQ9oYnD4NuYO3DNcwhlQKeUFiY5Sqklf5riYv7IBM1QKuQx7JcTrb7Ox4mL50nXuSNeHCfoBVpFOLiy9Pz0/vkEX1tqhsKNIx10ZG3PLL+V6cn6xRrp0C2oFN0EBVkpU5Vdz3cUAkSFCEq3gXaCpwnmh7oN7gdtAwfOLB4EbdgWlpERf8FMu6PfP5w2qz4Vin9by/UhZ1wHGRBickv9BDpPsjN4Ehd4IxoQJDr3ewqCwCZarO0A2FVS3iYLCLjh5uhPLyCmWz2PuKefKUeIU1Wddex8asVb96XYnKqxUQq1GHSIjWIP6x5TBiBRQjKmLPKEdqQiHiqqj5Caxm/wjgrv0lUwX1z9wFJSOaSpfPLwkcMYGHqSiG5QLZdotprT4YFsop8AGLnuFMhy96RAhTUiXE4/H+6nGQ7pDt83PtngM2nNOcw7tmxF/6+A5wbNCgylbKMPRc+SA0u3hHZ3kz/wcVyqVxuzczDVuflzSXCjdOUrmnFOkD4DC9g/n0U/UBn+1FgAAAABJRU5ErkJggg==") no-repeat scroll center center / 11px 11px;
    border-radius: 100%;
    display: inline-block;
    height: 30px;
    width: 30px;
}

    a.bambora_cancel:hover {
        cursor: pointer;
        cursor: hand;
    }

.bambora_overlay_data {
    width: 500px;
    height: 100% !important;
}

#bambora_message,
#bambora_overlay_message_container {
    height: 50%;
    min-height: 40px;
}
#bambora_overlay_message_container {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    
}
#bambora_overlay_message_container p {
    margin-top: 4px;
}

#bambora_overlay_message_title {
    line-height: 4;
}

#bambora_overlay_message_title,
#bambora_overlay_message_title_with_message {
    font-weight: bold;
    font-size: 14px; 
}

.bambora-compleated-container .icon-check {
    color: green;
    font-size: 50px;
    display: inline-block;
}

.bambora-compleated-container #bambora_completed_payment {
    font-size: 18px;
    color: #000;
    display:inline-block;
}


#bambora_inline,
#bambora_overlay {
    display: none;
}


.bambora-checkmark,
.bambora-exclamation {
    display: inline-block;
    width: 45px;
}
.bambora-checkmark,
.bambora-exclamation,
#overlay_message_title {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bambora-circle {
    /*position: relative;*/
    width: 40px;
    height: 40px;
    border-radius: 21px;
        display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 25px;
}

.bambora-checkmark_circle {
    background-color: #5cb85c;
}

.bambora-exclamation_circle {
    background-color: #f0ad4e;
}

.bambora-checkmark_stem {
    position: relative;
    left: 13px;
    top: 6px;
    
    /*Make it a small rectangle so the border will create an L-shape*/
    width: 9px;
    height: 20px;
    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid #fff;
    border-width: 0 4px 4px 0;
    /*Rotate the L 45 degrees to turn it into a checkmark*/
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bambora-exclamation_stem {
    position: relative;
    width: 5px;
    height: 17px;
    background-color: #fff;
    left: 18px;
    top: 8px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

.bambora-exclamation_dot {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: #fff;
    left: 18px;
    top: 11px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    
}




.bambora_paymentwindow_container p.payment_module a.bambora_payment_content {
    background: url("https://d3r1pwhfz7unl9.cloudfront.net/bambora/bambora_mini_rgb.png");
    background-repeat: no-repeat;
    background-position: 0 20px;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: rgb(251,251,251);
    padding-right: 0px !important;
}


    /*media all*/
    .bambora_paymentwindow_container p.payment_module a.bambora_payment_content::after {
        display: block;
        content: "\f054";
        position: absolute;
        right: 15px;
        margin-top: -11px;
        top: 50%;
        font-family: "FontAwesome";
        font-size: 25px;
        height: 22px;
        width: 14px;
        color: #777;
    }
